
.badge{
  display:inline-block;
  padding:0.25em 0.4em;
  font-size:75%;
  font-weight:700;
  line-height:1;
  text-align:center;
  white-space:nowrap;
  vertical-align:baseline;
  border-radius:0.25rem;
  -webkit-transition:color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition:color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition:color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition:color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion:reduce){
  .badge{
    -webkit-transition:none;
    transition:none;
  }
}

.badge-{
  &mint{
    color:#32F332;
    background-color:#644212;
  }
  &bondissue{
    color::#ffd6ed;
    background-color:#A819B0;
  }
  &bondexchange{
    color:#FFFFFF;
    background-color:#781130;
  }
  &did{
    color:#ab8143;
    background-color:#EBD234;
  }
  &info{
    color::#FFFFFF;
    background-color:#6752B2;
  }
  &success{
    color::#FFFFFF;
    background-color:#309E2C;
  }
  &danger{
    color::#FFFFFF;
    background-color:#CC0000;
  }
  &warning{
    color::#FFFFFF;
    background-color:#dba11a;
  }
  &light{
    color::#FFFFFF;
    background-color:#222;
  }
  &dark{
    color::#FFFFFF;
    background-color:#ADAFAE;
  }
  &secondary{
    color::#FFFFFF;
    background-color:#2b8af0;
  }
}
